.product-sparkline-container {
    width: 100px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.product-sparkline-container:hover {
    opacity: 1;
    transform: scale(1.05);
}